



h1 {
	font-family: "blanchcaps_inline";
	text-align: center;
	size: 200px;
	color: white;
}

h2 {
	font-family: "blanchcaps_inline";
	color: #ff4400;
	font-size: 120px;
	text-align: center;

}

h3{
	font-family: "blanchcaps";
	color: #ff4400;
	font-size: 40px;
	text-align: center;

}

h4 {
	font-family: 'Courier New', Courier, monospace;
	color: white;
	font-size: 24px;
	text-align: center;
	margin-top: -80px;
	padding: 40px;
}

h5 {
	font-family: 'Courier New', Courier, monospace;
	color: #ff4400;
	font-size: 24px;
	text-align: center;
}

p {
	font-family: 'Courier New', Courier, monospace;
	text-align: center;

}

.menu {
	padding: 2% 10%;
}

.logo {
	width: 100%;
	margin-bottom: -40px;
	position: relative;
}


#map_canvas {
        width: 100%;
        height: 600px;
}

img.header-image
 {
display: none;
 }

 .image {
 	background: #ff4400;
 	width: 100%;
 	margin-top: -10px;
 }

 .decoration {
 	max-height: 172px;
 	margin-top: 0px;
 }

/* media query phone size smaller than 600 */
@media (min-width: 600px) {

	h1 {
		color: #ff4400;
	}	

	h4 {
		color: #ff4400;
	}


.image {
	position: relative; 
	text-align: center;
}

.image span {
	position: absolute; 
	line-height: 20px; 
	display: block; 
	top: 20%; 
	margin-top: -10px; 
	width: 100%; 
}

.divider {
	background-image: url(../assets/divider-side2.svg);
	background-repeat: repeat;
}



img.header-image
 {
 position: relative;
 width: 100%;
 display: inline-block;
 vertical-align: middle;
 }

}

