
body {
	margin: 0 auto;
}

h1 {
	font-family: "blanchcaps_inline";
	text-align: center;
	color: #ff4400;
}

h2 {
	font-family: "blanchcaps_inline";
	color: #ff4400;
	font-size: 120px;
	text-align: center;

}

h3{
	font-family: "blanchcaps";
	color: #ff4400;
	font-size: 40px;
	text-align: center;

}

h4 {
	font-family: 'Courier New', Courier, monospace;
	color: #ff4400;
	font-size: 24px;
	text-align: center;
	padding: 5px;
}

p {
	font-family: 'Courier New', Courier, monospace;
	text-align: center;

}

.bg {
  position: relative; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
}

.image {
	position: relative; 
	text-align: center;
}

.image span {
	position: absolute; 
	line-height: 20px; 
	display: block; 
	top: 20%; 
	margin-top: -10px; 
	width: 100%; 
}

img.ri
 {
 position: relative;
 width: 100%;
 display: inline-block;
 vertical-align: middle;
 }

.menu {
	padding: 2% 10%;
}

.logo {
	width: 100%;
	max-width: 960px;
	margin-bottom: -40px;
	position: relative;
}

.row {
	margin: 0 auto;
}

#map_canvas {
        width: 100%;
        height: 600px;
      }